/* CORE */
.posts .post-item { padding: 0px; margin: 15px; }
.posts .post-item .post .post-heading { padding: 5px; }
.posts .post-item .post .post-author { padding: 15px; }
.posts .post-item .post .post-details .post-body { min-height: 200px; padding: 15px; }

.posts.show-border li.post-item { border-style: solid; border-width: 1px; }
.posts.show-border li.post-item.even { border-color: #b2b2b2; }
.posts.show-border li.post-item.odd { border-color: #a1abb2; }

article.post .post-heading { font-size: 0.85em; }

article.post .post-heading .post-icon {
  cursor: default;
  font-size: 0.75em;
  margin-right: 3px;
  top: 4px;
}
article.post .post-heading .post-byline .post-icon { color: #666; }

article.post .post-content .arrow,
article.post .post-content .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
article.post .post-content .arrow {
  border-width: 11px;
  top: 17px;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
article.post .post-content .arrow:after {
  border-width: 10px;
  content: "";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
article.post .post-content { background-color: #fff; }

/* STRIPED */
.posts.posts-striped .post-item.even .post .post-details .post-body { background-color: #f2f2f2; }
.posts.posts-striped .post-item.odd .post .post-details .post-body { background-color: #e1ebf2; }

/* DEFAULT */
.posts.posts-default .post-item { }
.posts.posts-default .post-item .post .post-heading { background: #B0907A none repeat-x scroll 0% 0%; border: 1px solid #000; }
.posts.posts-default .post-item .post .post-heading a,
.posts.posts-default .post-item .post .post-heading a:hover { color: #fff; }
.posts.posts-default .post-item .post .post-details { background: #F0E7D3 none repeat scroll 0% 0%; }
.posts.posts-default .post-item .post .post-details .post-body { background-color: #fff; }
.posts.posts-default .post-item .post .post-content { background-color: transparent; }
.posts.posts-default .post-item .post .post-author {
	background: #F0E7D3 none repeat scroll 0% 0%;
}

/* INVERSE */
.posts.posts-inverse .post-item { }
.posts.posts-inverse .post-item .post .post-heading { background: #666 none repeat-x scroll 0% 0%; border: 1px solid #000; }
.posts.posts-inverse .post-item .post .post-heading a,
.posts.posts-inverse .post-item .post .post-heading a:hover { color: #fff; }
.posts.posts-inverse .post-item .post .post-details { background: #999 none repeat scroll 0% 0%; }
.posts.posts-inverse .post-item .post .post-details .post-body { background-color: #ccc; }
.posts.posts-inverse .post-item .post .post-content { background-color: transparent; }
.posts.posts-inverse .post-item .post .post-author {
	background: #999 none repeat scroll 0% 0%;
}

/* TIMELINE */
.posts.posts-timeline::before {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 180px;
  margin-top: 180px;
  margin-bottom: 180px;
  width: 2px;
  /*background-color: #F3F3F3;*/
  background-color: #dedede;
  z-index: -1;
}
.posts.posts-timeline::after {
  display: table;
  clear: both;
  content: "";
}
.posts.posts-timeline .post-item .post-content { border: 1px solid #aaa; }
.posts.posts-timeline .post-item .post-heading {
  background-color: #dedede;
  padding: 10px;
  margin-left: -15px;
  margin-right:-15px;
}
ul.posts.posts-timeline .post-item .post-content .arrow { border-right-color: #aaa; }
ul.posts.posts-timeline .post-item .post-content .arrow:after { border-right-color: #dedede; }
